@import url("https://fonts.googleapis.com/css2?family=Barlow:ital,wght@1,600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Fraunces:opsz,wght@9..144,900&display=swap");
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: "Barlow", sans-serif;
  font-size: 18px;
  font-weight: 600;
}

.gap-1 {
  gap: 0.25rem;
}

.p-1 {
  padding: 0.25rem;
}

.px-1 {
  padding-inline: 0.25rem;
}

.py-1 {
  padding-block: 0.25rem;
}

.pleft-1 {
  -webkit-padding-start: 0.25rem;
          padding-inline-start: 0.25rem;
}

.pright-1 {
  -webkit-padding-end: 0.25rem;
          padding-inline-end: 0.25rem;
}

.ptop-1 {
  -webkit-padding-before: 0.25rem;
          padding-block-start: 0.25rem;
}

.pbottom-1 {
  -webkit-padding-after: 0.25rem;
          padding-block-end: 0.25rem;
}

.m-1 {
  margin: 0.25rem;
}

.mdir-1 {
  margin-inline: 0.25rem;
}

.mdir-1 {
  margin-block: 0.25rem;
}

.mdir-1 {
  -webkit-margin-start: 0.25rem;
          margin-inline-start: 0.25rem;
}

.mdir-1 {
  -webkit-margin-end: 0.25rem;
          margin-inline-end: 0.25rem;
}

.mdir-1 {
  -webkit-margin-before: 0.25rem;
          margin-block-start: 0.25rem;
}

.mdir-1 {
  -webkit-margin-after: 0.25rem;
          margin-block-end: 0.25rem;
}

.gap-2 {
  gap: 0.5rem;
}

.p-2 {
  padding: 0.5rem;
}

.px-2 {
  padding-inline: 0.5rem;
}

.py-2 {
  padding-block: 0.5rem;
}

.pleft-2 {
  -webkit-padding-start: 0.5rem;
          padding-inline-start: 0.5rem;
}

.pright-2 {
  -webkit-padding-end: 0.5rem;
          padding-inline-end: 0.5rem;
}

.ptop-2 {
  -webkit-padding-before: 0.5rem;
          padding-block-start: 0.5rem;
}

.pbottom-2 {
  -webkit-padding-after: 0.5rem;
          padding-block-end: 0.5rem;
}

.m-2 {
  margin: 0.5rem;
}

.mdir-2 {
  margin-inline: 0.5rem;
}

.mdir-2 {
  margin-block: 0.5rem;
}

.mdir-2 {
  -webkit-margin-start: 0.5rem;
          margin-inline-start: 0.5rem;
}

.mdir-2 {
  -webkit-margin-end: 0.5rem;
          margin-inline-end: 0.5rem;
}

.mdir-2 {
  -webkit-margin-before: 0.5rem;
          margin-block-start: 0.5rem;
}

.mdir-2 {
  -webkit-margin-after: 0.5rem;
          margin-block-end: 0.5rem;
}

.gap-3 {
  gap: 0.75rem;
}

.p-3 {
  padding: 0.75rem;
}

.px-3 {
  padding-inline: 0.75rem;
}

.py-3 {
  padding-block: 0.75rem;
}

.pleft-3 {
  -webkit-padding-start: 0.75rem;
          padding-inline-start: 0.75rem;
}

.pright-3 {
  -webkit-padding-end: 0.75rem;
          padding-inline-end: 0.75rem;
}

.ptop-3 {
  -webkit-padding-before: 0.75rem;
          padding-block-start: 0.75rem;
}

.pbottom-3 {
  -webkit-padding-after: 0.75rem;
          padding-block-end: 0.75rem;
}

.m-3 {
  margin: 0.75rem;
}

.mdir-3 {
  margin-inline: 0.75rem;
}

.mdir-3 {
  margin-block: 0.75rem;
}

.mdir-3 {
  -webkit-margin-start: 0.75rem;
          margin-inline-start: 0.75rem;
}

.mdir-3 {
  -webkit-margin-end: 0.75rem;
          margin-inline-end: 0.75rem;
}

.mdir-3 {
  -webkit-margin-before: 0.75rem;
          margin-block-start: 0.75rem;
}

.mdir-3 {
  -webkit-margin-after: 0.75rem;
          margin-block-end: 0.75rem;
}

.gap-4 {
  gap: 1rem;
}

.p-4 {
  padding: 1rem;
}

.px-4 {
  padding-inline: 1rem;
}

.py-4 {
  padding-block: 1rem;
}

.pleft-4 {
  -webkit-padding-start: 1rem;
          padding-inline-start: 1rem;
}

.pright-4 {
  -webkit-padding-end: 1rem;
          padding-inline-end: 1rem;
}

.ptop-4 {
  -webkit-padding-before: 1rem;
          padding-block-start: 1rem;
}

.pbottom-4 {
  -webkit-padding-after: 1rem;
          padding-block-end: 1rem;
}

.m-4 {
  margin: 1rem;
}

.mdir-4 {
  margin-inline: 1rem;
}

.mdir-4 {
  margin-block: 1rem;
}

.mdir-4 {
  -webkit-margin-start: 1rem;
          margin-inline-start: 1rem;
}

.mdir-4 {
  -webkit-margin-end: 1rem;
          margin-inline-end: 1rem;
}

.mdir-4 {
  -webkit-margin-before: 1rem;
          margin-block-start: 1rem;
}

.mdir-4 {
  -webkit-margin-after: 1rem;
          margin-block-end: 1rem;
}

.gap-5 {
  gap: 1.25rem;
}

.p-5 {
  padding: 1.25rem;
}

.px-5 {
  padding-inline: 1.25rem;
}

.py-5 {
  padding-block: 1.25rem;
}

.pleft-5 {
  -webkit-padding-start: 1.25rem;
          padding-inline-start: 1.25rem;
}

.pright-5 {
  -webkit-padding-end: 1.25rem;
          padding-inline-end: 1.25rem;
}

.ptop-5 {
  -webkit-padding-before: 1.25rem;
          padding-block-start: 1.25rem;
}

.pbottom-5 {
  -webkit-padding-after: 1.25rem;
          padding-block-end: 1.25rem;
}

.m-5 {
  margin: 1.25rem;
}

.mdir-5 {
  margin-inline: 1.25rem;
}

.mdir-5 {
  margin-block: 1.25rem;
}

.mdir-5 {
  -webkit-margin-start: 1.25rem;
          margin-inline-start: 1.25rem;
}

.mdir-5 {
  -webkit-margin-end: 1.25rem;
          margin-inline-end: 1.25rem;
}

.mdir-5 {
  -webkit-margin-before: 1.25rem;
          margin-block-start: 1.25rem;
}

.mdir-5 {
  -webkit-margin-after: 1.25rem;
          margin-block-end: 1.25rem;
}

.gap-6 {
  gap: 1.5rem;
}

.p-6 {
  padding: 1.5rem;
}

.px-6 {
  padding-inline: 1.5rem;
}

.py-6 {
  padding-block: 1.5rem;
}

.pleft-6 {
  -webkit-padding-start: 1.5rem;
          padding-inline-start: 1.5rem;
}

.pright-6 {
  -webkit-padding-end: 1.5rem;
          padding-inline-end: 1.5rem;
}

.ptop-6 {
  -webkit-padding-before: 1.5rem;
          padding-block-start: 1.5rem;
}

.pbottom-6 {
  -webkit-padding-after: 1.5rem;
          padding-block-end: 1.5rem;
}

.m-6 {
  margin: 1.5rem;
}

.mdir-6 {
  margin-inline: 1.5rem;
}

.mdir-6 {
  margin-block: 1.5rem;
}

.mdir-6 {
  -webkit-margin-start: 1.5rem;
          margin-inline-start: 1.5rem;
}

.mdir-6 {
  -webkit-margin-end: 1.5rem;
          margin-inline-end: 1.5rem;
}

.mdir-6 {
  -webkit-margin-before: 1.5rem;
          margin-block-start: 1.5rem;
}

.mdir-6 {
  -webkit-margin-after: 1.5rem;
          margin-block-end: 1.5rem;
}

.gap-7 {
  gap: 1.75rem;
}

.p-7 {
  padding: 1.75rem;
}

.px-7 {
  padding-inline: 1.75rem;
}

.py-7 {
  padding-block: 1.75rem;
}

.pleft-7 {
  -webkit-padding-start: 1.75rem;
          padding-inline-start: 1.75rem;
}

.pright-7 {
  -webkit-padding-end: 1.75rem;
          padding-inline-end: 1.75rem;
}

.ptop-7 {
  -webkit-padding-before: 1.75rem;
          padding-block-start: 1.75rem;
}

.pbottom-7 {
  -webkit-padding-after: 1.75rem;
          padding-block-end: 1.75rem;
}

.m-7 {
  margin: 1.75rem;
}

.mdir-7 {
  margin-inline: 1.75rem;
}

.mdir-7 {
  margin-block: 1.75rem;
}

.mdir-7 {
  -webkit-margin-start: 1.75rem;
          margin-inline-start: 1.75rem;
}

.mdir-7 {
  -webkit-margin-end: 1.75rem;
          margin-inline-end: 1.75rem;
}

.mdir-7 {
  -webkit-margin-before: 1.75rem;
          margin-block-start: 1.75rem;
}

.mdir-7 {
  -webkit-margin-after: 1.75rem;
          margin-block-end: 1.75rem;
}

.gap-8 {
  gap: 1rem;
}

.p-8 {
  padding: 1rem;
}

.px-8 {
  padding-inline: 1rem;
}

.py-8 {
  padding-block: 1rem;
}

.pleft-8 {
  -webkit-padding-start: 1rem;
          padding-inline-start: 1rem;
}

.pright-8 {
  -webkit-padding-end: 1rem;
          padding-inline-end: 1rem;
}

.ptop-8 {
  -webkit-padding-before: 1rem;
          padding-block-start: 1rem;
}

.pbottom-8 {
  -webkit-padding-after: 1rem;
          padding-block-end: 1rem;
}

.m-8 {
  margin: 1rem;
}

.mdir-8 {
  margin-inline: 1rem;
}

.mdir-8 {
  margin-block: 1rem;
}

.mdir-8 {
  -webkit-margin-start: 1rem;
          margin-inline-start: 1rem;
}

.mdir-8 {
  -webkit-margin-end: 1rem;
          margin-inline-end: 1rem;
}

.mdir-8 {
  -webkit-margin-before: 1rem;
          margin-block-start: 1rem;
}

.mdir-8 {
  -webkit-margin-after: 1rem;
          margin-block-end: 1rem;
}

.gap-9 {
  gap: 2.25rem;
}

.p-9 {
  padding: 2.25rem;
}

.px-9 {
  padding-inline: 2.25rem;
}

.py-9 {
  padding-block: 2.25rem;
}

.pleft-9 {
  -webkit-padding-start: 2.25rem;
          padding-inline-start: 2.25rem;
}

.pright-9 {
  -webkit-padding-end: 2.25rem;
          padding-inline-end: 2.25rem;
}

.ptop-9 {
  -webkit-padding-before: 2.25rem;
          padding-block-start: 2.25rem;
}

.pbottom-9 {
  -webkit-padding-after: 2.25rem;
          padding-block-end: 2.25rem;
}

.m-9 {
  margin: 2.25rem;
}

.mdir-9 {
  margin-inline: 2.25rem;
}

.mdir-9 {
  margin-block: 2.25rem;
}

.mdir-9 {
  -webkit-margin-start: 2.25rem;
          margin-inline-start: 2.25rem;
}

.mdir-9 {
  -webkit-margin-end: 2.25rem;
          margin-inline-end: 2.25rem;
}

.mdir-9 {
  -webkit-margin-before: 2.25rem;
          margin-block-start: 2.25rem;
}

.mdir-9 {
  -webkit-margin-after: 2.25rem;
          margin-block-end: 2.25rem;
}

.gap-10 {
  gap: 2.5rem;
}

.p-10 {
  padding: 2.5rem;
}

.px-10 {
  padding-inline: 2.5rem;
}

.py-10 {
  padding-block: 2.5rem;
}

.pleft-10 {
  -webkit-padding-start: 2.5rem;
          padding-inline-start: 2.5rem;
}

.pright-10 {
  -webkit-padding-end: 2.5rem;
          padding-inline-end: 2.5rem;
}

.ptop-10 {
  -webkit-padding-before: 2.5rem;
          padding-block-start: 2.5rem;
}

.pbottom-10 {
  -webkit-padding-after: 2.5rem;
          padding-block-end: 2.5rem;
}

.m-10 {
  margin: 2.5rem;
}

.mdir-10 {
  margin-inline: 2.5rem;
}

.mdir-10 {
  margin-block: 2.5rem;
}

.mdir-10 {
  -webkit-margin-start: 2.5rem;
          margin-inline-start: 2.5rem;
}

.mdir-10 {
  -webkit-margin-end: 2.5rem;
          margin-inline-end: 2.5rem;
}

.mdir-10 {
  -webkit-margin-before: 2.5rem;
          margin-block-start: 2.5rem;
}

.mdir-10 {
  -webkit-margin-after: 2.5rem;
          margin-block-end: 2.5rem;
}

.gap-11 {
  gap: 2.75rem;
}

.p-11 {
  padding: 2.75rem;
}

.px-11 {
  padding-inline: 2.75rem;
}

.py-11 {
  padding-block: 2.75rem;
}

.pleft-11 {
  -webkit-padding-start: 2.75rem;
          padding-inline-start: 2.75rem;
}

.pright-11 {
  -webkit-padding-end: 2.75rem;
          padding-inline-end: 2.75rem;
}

.ptop-11 {
  -webkit-padding-before: 2.75rem;
          padding-block-start: 2.75rem;
}

.pbottom-11 {
  -webkit-padding-after: 2.75rem;
          padding-block-end: 2.75rem;
}

.m-11 {
  margin: 2.75rem;
}

.mdir-11 {
  margin-inline: 2.75rem;
}

.mdir-11 {
  margin-block: 2.75rem;
}

.mdir-11 {
  -webkit-margin-start: 2.75rem;
          margin-inline-start: 2.75rem;
}

.mdir-11 {
  -webkit-margin-end: 2.75rem;
          margin-inline-end: 2.75rem;
}

.mdir-11 {
  -webkit-margin-before: 2.75rem;
          margin-block-start: 2.75rem;
}

.mdir-11 {
  -webkit-margin-after: 2.75rem;
          margin-block-end: 2.75rem;
}

.gap-12 {
  gap: 3rem;
}

.p-12 {
  padding: 3rem;
}

.px-12 {
  padding-inline: 3rem;
}

.py-12 {
  padding-block: 3rem;
}

.pleft-12 {
  -webkit-padding-start: 3rem;
          padding-inline-start: 3rem;
}

.pright-12 {
  -webkit-padding-end: 3rem;
          padding-inline-end: 3rem;
}

.ptop-12 {
  -webkit-padding-before: 3rem;
          padding-block-start: 3rem;
}

.pbottom-12 {
  -webkit-padding-after: 3rem;
          padding-block-end: 3rem;
}

.m-12 {
  margin: 3rem;
}

.mdir-12 {
  margin-inline: 3rem;
}

.mdir-12 {
  margin-block: 3rem;
}

.mdir-12 {
  -webkit-margin-start: 3rem;
          margin-inline-start: 3rem;
}

.mdir-12 {
  -webkit-margin-end: 3rem;
          margin-inline-end: 3rem;
}

.mdir-12 {
  -webkit-margin-before: 3rem;
          margin-block-start: 3rem;
}

.mdir-12 {
  -webkit-margin-after: 3rem;
          margin-block-end: 3rem;
}

.gap-13 {
  gap: 3.25rem;
}

.p-13 {
  padding: 3.25rem;
}

.px-13 {
  padding-inline: 3.25rem;
}

.py-13 {
  padding-block: 3.25rem;
}

.pleft-13 {
  -webkit-padding-start: 3.25rem;
          padding-inline-start: 3.25rem;
}

.pright-13 {
  -webkit-padding-end: 3.25rem;
          padding-inline-end: 3.25rem;
}

.ptop-13 {
  -webkit-padding-before: 3.25rem;
          padding-block-start: 3.25rem;
}

.pbottom-13 {
  -webkit-padding-after: 3.25rem;
          padding-block-end: 3.25rem;
}

.m-13 {
  margin: 3.25rem;
}

.mdir-13 {
  margin-inline: 3.25rem;
}

.mdir-13 {
  margin-block: 3.25rem;
}

.mdir-13 {
  -webkit-margin-start: 3.25rem;
          margin-inline-start: 3.25rem;
}

.mdir-13 {
  -webkit-margin-end: 3.25rem;
          margin-inline-end: 3.25rem;
}

.mdir-13 {
  -webkit-margin-before: 3.25rem;
          margin-block-start: 3.25rem;
}

.mdir-13 {
  -webkit-margin-after: 3.25rem;
          margin-block-end: 3.25rem;
}

.gap-14 {
  gap: 3.5rem;
}

.p-14 {
  padding: 3.5rem;
}

.px-14 {
  padding-inline: 3.5rem;
}

.py-14 {
  padding-block: 3.5rem;
}

.pleft-14 {
  -webkit-padding-start: 3.5rem;
          padding-inline-start: 3.5rem;
}

.pright-14 {
  -webkit-padding-end: 3.5rem;
          padding-inline-end: 3.5rem;
}

.ptop-14 {
  -webkit-padding-before: 3.5rem;
          padding-block-start: 3.5rem;
}

.pbottom-14 {
  -webkit-padding-after: 3.5rem;
          padding-block-end: 3.5rem;
}

.m-14 {
  margin: 3.5rem;
}

.mdir-14 {
  margin-inline: 3.5rem;
}

.mdir-14 {
  margin-block: 3.5rem;
}

.mdir-14 {
  -webkit-margin-start: 3.5rem;
          margin-inline-start: 3.5rem;
}

.mdir-14 {
  -webkit-margin-end: 3.5rem;
          margin-inline-end: 3.5rem;
}

.mdir-14 {
  -webkit-margin-before: 3.5rem;
          margin-block-start: 3.5rem;
}

.mdir-14 {
  -webkit-margin-after: 3.5rem;
          margin-block-end: 3.5rem;
}

.gap-15 {
  gap: 3.75rem;
}

.p-15 {
  padding: 3.75rem;
}

.px-15 {
  padding-inline: 3.75rem;
}

.py-15 {
  padding-block: 3.75rem;
}

.pleft-15 {
  -webkit-padding-start: 3.75rem;
          padding-inline-start: 3.75rem;
}

.pright-15 {
  -webkit-padding-end: 3.75rem;
          padding-inline-end: 3.75rem;
}

.ptop-15 {
  -webkit-padding-before: 3.75rem;
          padding-block-start: 3.75rem;
}

.pbottom-15 {
  -webkit-padding-after: 3.75rem;
          padding-block-end: 3.75rem;
}

.m-15 {
  margin: 3.75rem;
}

.mdir-15 {
  margin-inline: 3.75rem;
}

.mdir-15 {
  margin-block: 3.75rem;
}

.mdir-15 {
  -webkit-margin-start: 3.75rem;
          margin-inline-start: 3.75rem;
}

.mdir-15 {
  -webkit-margin-end: 3.75rem;
          margin-inline-end: 3.75rem;
}

.mdir-15 {
  -webkit-margin-before: 3.75rem;
          margin-block-start: 3.75rem;
}

.mdir-15 {
  -webkit-margin-after: 3.75rem;
          margin-block-end: 3.75rem;
}

.gap-16 {
  gap: 4rem;
}

.p-16 {
  padding: 4rem;
}

.px-16 {
  padding-inline: 4rem;
}

.py-16 {
  padding-block: 4rem;
}

.pleft-16 {
  -webkit-padding-start: 4rem;
          padding-inline-start: 4rem;
}

.pright-16 {
  -webkit-padding-end: 4rem;
          padding-inline-end: 4rem;
}

.ptop-16 {
  -webkit-padding-before: 4rem;
          padding-block-start: 4rem;
}

.pbottom-16 {
  -webkit-padding-after: 4rem;
          padding-block-end: 4rem;
}

.m-16 {
  margin: 4rem;
}

.mdir-16 {
  margin-inline: 4rem;
}

.mdir-16 {
  margin-block: 4rem;
}

.mdir-16 {
  -webkit-margin-start: 4rem;
          margin-inline-start: 4rem;
}

.mdir-16 {
  -webkit-margin-end: 4rem;
          margin-inline-end: 4rem;
}

.mdir-16 {
  -webkit-margin-before: 4rem;
          margin-block-start: 4rem;
}

.mdir-16 {
  -webkit-margin-after: 4rem;
          margin-block-end: 4rem;
}

.gap-auto {
  gap: auto;
}

.p-auto {
  padding: auto;
}

.px-auto {
  padding-inline: auto;
}

.py-auto {
  padding-block: auto;
}

.pleft-auto {
  -webkit-padding-start: auto;
          padding-inline-start: auto;
}

.pright-auto {
  -webkit-padding-end: auto;
          padding-inline-end: auto;
}

.ptop-auto {
  -webkit-padding-before: auto;
          padding-block-start: auto;
}

.pbottom-auto {
  -webkit-padding-after: auto;
          padding-block-end: auto;
}

.m-auto {
  margin: auto;
}

.mdir-auto {
  margin-inline: auto;
}

.mdir-auto {
  margin-block: auto;
}

.mdir-auto {
  -webkit-margin-start: auto;
          margin-inline-start: auto;
}

.mdir-auto {
  -webkit-margin-end: auto;
          margin-inline-end: auto;
}

.mdir-auto {
  -webkit-margin-before: auto;
          margin-block-start: auto;
}

.mdir-auto {
  -webkit-margin-after: auto;
          margin-block-end: auto;
}

.block {
  display: block;
}

.none {
  display: none;
}

.inline {
  display: inline;
}

.inline-block {
  display: inline-block;
}

.flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.grid {
  display: -ms-grid;
  display: grid;
}

.absolute {
  position: absolute;
}

.relative {
  position: relative;
}

.fixed {
  position: fixed;
}

.bg-red {
  background-color: #fe7867;
}

.text-red {
  color: #fe7867;
}

.bg-yellow {
  background-color: #fad400;
}

.text-yellow {
  color: #fad400;
}

.bg-green--dark {
  background-color: rgba(37, 86, 75, 0.729);
}

.text-green--dark {
  color: rgba(37, 86, 75, 0.729);
}

.bg-blue {
  background-color: #19536b;
}

.text-blue {
  color: #19536b;
}

.bg-green--light {
  background-color: #91d4c6;
}

.text-green--light {
  color: #91d4c6;
}

.bg-neutral1 {
  background-color: #23303e;
}

.text-neutral1 {
  color: #23303e;
}

.bg-neutral2 {
  background-color: #5a636c;
}

.text-neutral2 {
  color: #5a636c;
}

.bg-neutral3 {
  background-color: #818498;
}

.text-neutral3 {
  color: #818498;
}

.bg-neutral4 {
  background-color: #a7abae;
}

.text-neutral4 {
  color: #a7abae;
}

.bg-white {
  background-color: white;
}

.text-white {
  color: white;
}

.text-sm {
  font-size: clamp(0.94rem, calc(0.94rem + 0vw), 0.94rem);
}

.text-md {
  font-size: clamp(1.35rem, calc(1.24rem + 0.48vw), 1.67rem);
}

.text-lg {
  font-size: clamp(1.62rem, calc(1.41rem + 0.9vw), 2.22rem);
}

.text-xl {
  font-size: clamp(2.33rem, calc(1.76rem + 2.43vw), 3.95rem);
}

.text-2xl {
  font-size: clamp(3.36rem, calc(2.07rem + 5.49vw), 7.01rem);
}

.flex-child {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

@media (min-width: 800px) {
  .flex-child-2 {
    -ms-flex-preferred-size: 40%;
        flex-basis: 40%;
  }
  .flex-child-3 {
    -ms-flex-preferred-size: 28%;
        flex-basis: 28%;
  }
}

.flex-wrap {
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.flex-wrap-reverse {
  -ms-flex-wrap: wrap-reverse;
      flex-wrap: wrap-reverse;
}

.align-items-end {
  -ms-flex-item-align: end;
      -ms-grid-row-align: end;
      align-self: end;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: end;
}

.text-group {
  place-items: center;
  max-width: 50ch;
}

.row {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
}

.col img {
  width: 100%;
  height: 100%;
  display: block;
}

.text-center {
  text-align: center;
}

.uppercase {
  text-transform: uppercase;
}

.letterspacing {
  letter-spacing: 5px;
}

.lineheight {
  line-height: 1.5;
}

@media (min-width: 800px) {
  .md\:text-left {
    text-align: left;
  }
}

.profilePic {
  max-width: 20vw;
  border-radius: 50%;
}

img {
  max-width: 100%;
  display: block;
}

.link {
  text-decoration: none;
  text-transform: uppercase;
}

.link--yellow {
  text-decoration: none;
  text-transform: uppercase;
  position: relative;
  padding: 3px 7px;
  z-index: 1;
}

.link--yellow::before {
  content: "";
  position: absolute;
  border: 4px solid rgba(250, 212, 0, 0.217);
  border-radius: 8px;
  height: 1px;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: -1;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.link--yellow:hover::before {
  border: 4px solid #fad400;
}

.link--red {
  text-decoration: none;
  text-transform: uppercase;
  position: relative;
  padding: 3px 7px;
  z-index: 1;
}

.link--red::before {
  content: "";
  position: absolute;
  border: 4px solid rgba(254, 121, 103, 0.217);
  border-radius: 8px;
  height: 1px;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: -1;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.link--red:hover::before {
  border: 4px solid #fe7967;
}

.container {
  width: 100%;
  max-width: 1350px;
  margin-inline: auto;
}

.font-header {
  font-family: "Fraunces", serif;
}

.font-body {
  font-family: "Barlow", sans-serif;
}

[aria-label="Main Navigation"] {
  width: 100%;
}

nav.shrink {
  height: auto;
  background: rgba(101, 167, 180, 0.461);
  overflow: hidden;
  backdrop-filter: blur(50px);
  -webkit-backdrop-filter: blur(3px);
  -webkit-box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
          box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.toggle {
  height: auto !important;
}

.btn-toggle {
  background-color: transparent;
  border: none;
  outline: none;
  cursor: pointer;
  display: none;
}

.nav-bar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 3em;
}

[role="menubar"] {
  list-style: none;
  text-align: center;
  margin: 0;
  padding: 0;
}

[role="menubar"] li:not(:last-child) {
  margin-right: 2.5rem;
}

[role="menuitem"] {
  text-decoration: none;
  color: #fff;
  font-size: 14px;
}

.btn-contact {
  text-transform: uppercase;
  font-family: "Fraunces", serif;
  font-size: 14px;
  color: #000;
  background-color: #fff;
  padding: 14px 25px;
  border-radius: 35px;
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
}

.btn-contact:hover {
  color: #fff;
  background-color: #6eceff;
}

header {
  background-image: url(images/mobile/image-header.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  background-position: bottom;
  min-height: 100vh;
}

@media (min-width: 1440px) {
  header {
    background-image: url(images/desktop/image-header.jpg);
  }
}

.hero {
  min-height: 100vh;
  place-items: center;
  place-content: center;
}

.hero h1 {
  text-transform: uppercase;
  letter-spacing: 8px;
}

main .text-group {
  margin: 0 auto;
}

main .text-group h2 {
  font-weight: bolder;
}

main .text-group p {
  line-height: 1.5;
}

.card {
  position: relative;
  z-index: -99;
}

.card .card-content {
  position: absolute;
  top: 70%;
  text-align: center;
  max-width: 400px;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  color: #1f5449;
}

.card-content h3 {
  font-size: 34px;
  margin-bottom: 30px;
}

.image {
  aspect-ratio: 1/1;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  width: 50vw;
}

@media (min-width: 800px) {
  .image {
    aspect-ratio: 1/2;
  }
}

@media (min-width: 800px) {
  .image {
    width: 25vw;
  }
}

.image--1 {
  background-image: url("./images/mobile/image-gallery-milkbottles.jpg");
}

@media (min-width: 1440px) {
  .image--1 {
    background-image: url("./images/desktop/image-gallery-milkbottles.jpg");
  }
}

.image--2 {
  background-image: url("./images/mobile/image-gallery-orange.jpg");
}

@media (min-width: 1440px) {
  .image--2 {
    background-image: url("./images/desktop/image-gallery-orange.jpg");
  }
}

.image--3 {
  background-image: url("./images/mobile/image-gallery-cone.jpg");
}

@media (min-width: 1440px) {
  .image--3 {
    background-image: url("./images/desktop/image-gallery-cone.jpg");
  }
}

.image--4 {
  background-image: url("./images/mobile/image-gallery-sugar-cubes.jpg");
}

@media (min-width: 1440px) {
  .image--4 {
    background-image: url("./images/desktop/image-gallery-sugarcubes.jpg");
  }
}

.footer--nav {
  place-items: center;
}

.footer--nav [aria-label="Secondary-Nav"] li a {
  color: rgba(37, 86, 75, 0.729);
}

.footer--nav [aria-label="Secondary-Nav"] li a:hover {
  color: #fff;
}

.socials {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media only screen and (max-width: 1020px) {
  .box {
    padding: 60px;
  }
  .card-content h2 {
    margin-bottom: 15px;
  }
}

@media only screen and (max-width: 768px) {
  .btn-toggle {
    display: inline-block;
  }
  [role="menubar"] {
    display: none;
    z-index: 2000;
  }
  .nav-bar {
    position: relative;
  }
  .toggle {
    position: absolute;
    width: 100%;
    background-color: #00aaff;
    left: 0;
    right: 0;
    top: 100px;
    height: 0;
    overflow: hidden;
    text-align: center;
    border-radius: 10px;
    margin: 0 auto;
    width: 30vw;
    z-index: 4000;
  }
  .toggle .btn-contact {
    background-color: #fad400;
  }
  .toggle ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .toggle ul li {
    padding: 20px 0;
  }
  .toggle ul li:not(:last-child) {
    margin-right: 0;
  }
  .toggle ul li:last-child {
    margin-bottom: 1rem;
  }
  .row {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
  }
  .col-2 {
    -webkit-box-ordinal-group: 0;
        -ms-flex-order: -1;
            order: -1;
  }
  .box {
    text-align: center;
  }
}

@media only screen and (max-width: 425px) {
  .nav-bar {
    padding: 1.5rem;
  }
  .hero h1 {
    font-size: 36px;
  }
  .box {
    padding: 40px;
  }
  .box h2 {
    font-size: 36px;
    margin-bottom: 20px;
  }
}
/*# sourceMappingURL=style.css.map */