// Reset
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Barlow", sans-serif;
  font-size: 18px;
  font-weight: 600;
}

// -------------------------------------------------

// Font Families
@import url("https://fonts.googleapis.com/css2?family=Barlow:ital,wght@1,600&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Fraunces:opsz,wght@9..144,900&display=swap");

// Mixins
@mixin minQuery($propertyName, $defaultValue, $mediaQueries: ()) {
  #{$propertyName}: #{$defaultValue};

  @each $breakpoint, $value in $mediaQueries {
    @media (min-width: #{$breakpoint}) {
      #{$propertyName}: #{$value};
    }
  }
}
// ---------------------------------------------------

//Screen Sizes
$sm: 375px;
$md: 800px;
$lg: 1440px;
// ---------------------------------------------------

// Font Sizes and directions
$base: 1rem;
$sizes: (
  "1": $base * 0.25,
  "2": $base * 0.5,
  "3": $base * 0.75,
  "4": $base * 1,
  "5": $base * 1.25,
  "6": $base * 1.5,
  "7": $base * 1.75,
  "8": $base * 1,
  "9": $base * 2.25,
  "10": $base * 2.5,
  "11": $base * 2.75,
  "12": $base * 3,
  "13": $base * 3.25,
  "14": $base * 3.5,
  "15": $base * 3.75,
  "16": $base * 4,
  "auto": auto,
);

$directions: (
  "x": inline,
  "y": block,
  "left": inline-start,
  "right": inline-end,
  "top": block-start,
  "bottom": block-end,
);

@each $size, $sizeValue in $sizes {
  .gap {
    &-#{$size} {
      gap: $sizeValue;
    }
  }

  .p {
    &-#{$size} {
      padding: $sizeValue;
    }

    @each $dir, $dirValue in $directions {
      &#{$dir}-#{$size} {
        padding-#{$dirValue}: #{$sizeValue};
      }
    }
  }

  .m {
    &-#{$size} {
      margin: $sizeValue;
    }

    @each $dir, $dirValue in $directions {
      &#{dir}-#{$size} {
        margin-#{$dirValue}: #{$sizeValue};
      }
    }
  }
}
//  ------------------------------------------------------

// Displays
$displays: block, none, inline, inline-block, flex, grid;

@each $display in $displays {
  .#{$display} {
    display: #{$display};
  }
}

// --------------------------------------------------------

// Positions
$positions: absolute, relative, fixed;

@each $position in $positions {
  .#{$position} {
    position: #{$position};
  }
}
// --------------------------------------------------------

// Primary - Neutral Colors

$colors: (
  "red": hsl(7, 99%, 70%),
  "yellow": hsl(51, 100%, 49%),
  "green--dark": hsla(167, 40%, 24%, 0.729),
  "blue": hsl(198, 62%, 26%),
  "green--light": hsl(167, 44%, 70%),
  "neutral1": hsl(212, 27%, 19%),
  "neutral2": hsl(213, 9%, 39%),
  "neutral3": hsl(232, 10%, 55%),
  "neutral4": hsl(210, 4%, 67%),
  "white": hsl(0, 0%, 100%),
);

@each $colorName, $colorValue in $colors {
  .bg {
    &-#{$colorName} {
      background-color: $colorValue;
    }
  }

  .text {
    &-#{$colorName} {
      color: $colorValue;
    }
  }
}
// ------------------------------------------------

// Text Sizes
$textSizes: (
  "sm": clamp(0.94rem, calc(0.94rem + 0vw), 0.94rem),
  "md": clamp(1.35rem, calc(1.24rem + 0.48vw), 1.67rem),
  "lg": clamp(1.62rem, calc(1.41rem + 0.9vw), 2.22rem),
  "xl": clamp(2.33rem, calc(1.76rem + 2.43vw), 3.95rem),
  "2xl": clamp(3.36rem, calc(2.07rem + 5.49vw), 7.01rem),
);

@each $textSize, $textValue in $textSizes {
  .text {
    &-#{$textSize} {
      font-size: $textValue;
    }
  }
}
// -----------------------------------------
// Flex Wrap

.flex-child {
  flex-grow: 1;
}

@media (min-width: $md) {
  .flex-child-2 {
    flex-basis: 40%;
  }
  .flex-child-3 {
    flex-basis: 28%;
  }
}

.flex {
  &-wrap {
    flex-wrap: wrap;
  }
  &-wrap-reverse {
    flex-wrap: wrap-reverse;
  }
}

.align-items-end {
  align-self: end;
  align-items: end;
}

.text-group {
  place-items: center;
  max-width: 50ch;
}

// -----------------------------------------
// Grid
.row {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

// .box {
//   padding: 12vw;
// }

.col img {
  width: 100%;
  height: 100%;
  display: block;
}
// ------------------------------------------
// Typography
.text-center {
  text-align: center;
}

.uppercase {
  text-transform: uppercase;
}

.letterspacing {
  letter-spacing: 5px;
}

.lineheight {
  line-height: 1.5;
}

@media (min-width: $md) {
  .md\:text-left {
    text-align: left;
  }
}

// .md:text-center {
//   @include minQuery(
//     text-align,
//     center,
//     (
//       $md: left,
//     )
//   );
// }

// --------------------------------------------
// IMG Properties

.profilePic {
  max-width: 20vw;
  border-radius: 50%;
}

@mixin imgProperties {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}

img {
  max-width: 100%;

  display: block;
}

// --------------------------------------------------------
// Links
.link {
  text-decoration: none;
  text-transform: uppercase;
}

.link--yellow {
  text-decoration: none;
  text-transform: uppercase;
  position: relative;
  padding: 3px 7px;
  z-index: 1;

  &::before {
    content: "";
    position: absolute;
    border: 4px solid rgba(250, 212, 0, 0.217);
    border-radius: 8px;
    height: 1px;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: -1;
    transition: all 0.3s ease;
  }
  &:hover::before {
    border: 4px solid rgb(250, 212, 0);
  }
}

.link--red {
  text-decoration: none;
  text-transform: uppercase;
  position: relative;
  padding: 3px 7px;
  z-index: 1;

  &::before {
    content: "";
    position: absolute;
    border: 4px solid rgba(254, 121, 103, 0.217);
    border-radius: 8px;
    height: 1px;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: -1;
    transition: all 0.3s ease;
  }
  &:hover::before {
    border: 4px solid rgba(254, 121, 103, 1);
  }
}

.container {
  width: 100%;
  max-width: 1350px;
  margin-inline: auto;
}

.font-header {
  font-family: "Fraunces", serif;
}
.font-body {
  font-family: "Barlow", sans-serif;
}

// Nav-----------------------------------------------
[aria-label="Main Navigation"] {
  width: 100%;
}

.btn-toggle {
  display: none;
}

.navbar {
  display: flex;
  justify-content: space-between;
  padding: 3em;
}

[role="menubar"] {
  list-style: none;
  text-align: center;
  margin: 0;
  padding: 0;
}

[role="menubar"] li:not(:last-child) {
  margin-right: 2.5rem;
}

[role="menuitem"] {
  text-decoration: none;
  color: #fff;
  font-size: 14px;
}

.btn-contact {
  text-transform: uppercase;
  font-family: "Fraunces", serif;
  font-size: 14px;
  color: #000;
  background-color: #fff;
  padding: 14px 25px;
  border-radius: 35px;
  transition: all 0.2s ease;

  &:hover {
    color: #fff;
    background-color: #6eceff;
  }
}

// Header-----------------------------------------------
header {
  @include minQuery(
    background-image,
    url(images/mobile/image-header.jpg),
    (
      $lg: url(images/desktop/image-header.jpg),
    )
  );
  @include imgProperties();
  background-position: bottom;
  min-height: 100vh;
}

.hero {
  min-height: 100vh;
  place-items: center;
  place-content: center;
  // padding-top: 15vh;

  h1 {
    // margin-bottom: 7rem;
    text-transform: uppercase;
    letter-spacing: 8px;
    // padding-bottom: 10vh;
  }
}

main {
  .text-group {
    margin: 0 auto;
    h2 {
      font-weight: bolder;
    }
    p {
      line-height: 1.5;
    }
  }
}

// Image Ratio
.aspect-square {
  aspect-ratio: 1/1;
  width: 100vw;
}

.aspect-dynamic {
  @include minQuery(
    aspect-ratio,
    initial,
    (
      $md: "1/1",
    )
  );
  @include minQuery(
    min-height,
    100vh,
    (
      $md: initial,
    )
  );
}

// IMG Queries and Properties
// .brand-img {
//   @include minQuery(
//     background-image,
//     url(images/mobile/image-transform.jpg),
//     (
//       $lg: url(images/desktop/image-transform.jpg),
//     )
//   );
//   @include imgProperties();
// }

// .audience-img {
//   @include minQuery(
//     Background-image,
//     url(images/mobile/image-stand-out.jpg),
//     (
//       $lg: url(images/desktop/image-stand-out.jpg),
//     )
//   );

//   @include imgProperties();
// }

.design-img {
  @include minQuery(
    background-image,
    url(images/mobile/image-graphic-design.jpg),
    (
      $lg: url(images/desktop/image-graphic-design.jpg),
    )
  );

  @include imgProperties();
}

[aria-labelledby="#design"] {
  line-height: 1.75;

  @include minQuery(
    background-image,
    url(images/mobile/image-graphic-design.jpg),
    (
      $lg: url(images/desktop/image-graphic-design.jpg),
    )
  );
  @include imgProperties();
}

[aria-labelledby="#photography"] {
  line-height: 1.75;

  @include minQuery(
    background-image,
    url(images/mobile/image-photography.jpg),
    (
      $lg: url(images/desktop/image-photography.jpg),
    )
  );
  @include imgProperties();
}

.image {
  @include minQuery(
    aspect-ratio,
    "1/1",
    (
      $md: "1/2",
    )
  );
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  @include minQuery(
    width,
    50vw,
    (
      $md: 25vw,
    )
  );
  &--1 {
    @include minQuery(
      background-image,
      url("./images/mobile/image-gallery-milkbottles.jpg"),
      (
        $lg: url("./images/desktop/image-gallery-milkbottles.jpg"),
      )
    );
  }
  &--2 {
    @include minQuery(
      background-image,
      url("./images/mobile/image-gallery-orange.jpg"),
      (
        $lg: url("./images/desktop/image-gallery-orange.jpg"),
      )
    );
  }
  &--3 {
    @include minQuery(
      background-image,
      url("./images/mobile/image-gallery-cone.jpg"),
      (
        $lg: url("./images/desktop/image-gallery-cone.jpg"),
      )
    );
  }
  &--4 {
    @include minQuery(
      background-image,
      url("./images/mobile/image-gallery-sugar-cubes.jpg"),
      (
        $lg: url("./images/desktop/image-gallery-sugarcubes.jpg"),
      )
    );
  }
}

// Footer-------------------------------------------------
.footer--nav {
  place-items: center;
}

.socials {
  align-items: center;
}
